.seccion{
    background-color: rgb(55, 169, 223);
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
main{
    display: flex;

}
.lado{background-color: blanchedalmond;
display: flex;
flex-direction:column;
align-items: center;
width: 35rem;
border: 1px solid #000;}
header{
    background-color: rgb(235, 127, 113);
    height: 4rem;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}
nav{
    
    
    flex-wrap: wrap;
display: flex;
justify-content: flex-end;
}
.a{text-decoration: none;
font-size: 25px;
padding: 16px;
margin: 10px;
color: darkblue;}
footer{height: 4rem;
background-color: rgb(51, 51, 233);
margin-top: -26px;
display: flex;
justify-content: center;
}
.final{
    display: inline-block;
    color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
}
